.owc-project-color-1 { background: #9c3c62 !important; }
.owc-project-color-2 { background: #8d519c !important; }
.owc-project-color-3 { background: #404d9c !important; }
.owc-project-color-4 { background: #49849c !important; }
.owc-project-color-5 { background: #379c69 !important; }
.owc-project-color-6 { background: #719c26 !important; }
.owc-project-color-7 { background: #9c7d0f !important; }
.owc-project-color-8 { background: #765e0c !important; }
.owc-project-color-9 { background: #76120d !important; }
.owc-project-color-10 { background: #510c0c !important; }